<table>
  <tr>
    <th>Question</th>
    <th>Nombre de points</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.points %></td>
    <td><%= link_to 'Voir', question %></td>
    <td><%= link_to 'Editer', edit_question_path(question) %></td>
    <td><%= link_to 'Supprimer', question, :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle question', new_question_path %>
