<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2>Impossible de sauvegarder :</h2>

      <ul>
      <% @questionnaire.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<% if @category %>

  <div class="field">
    Catégorie : <%= @category.name%>
  </div>
  <div class="field">
    <%= f.hidden_field(:category_id, :value => @category.id) %>
  </div>

<% else %>

  <div class="field">
  <%= f.label :category_id, "Catégories :" %><br />
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

<% end %>

  <div class="field">
    <%= f.label :title, "Titre :" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :difficulty, "Difficulté :" %><br />
    <%= f.text_field :difficulty %>
  </div>

  <div class="field">
    <%= f.label :cost, "Coût :" %><br />
    <%= f.text_field :cost %>
  </div>

  <%= f.fields_for :questions do |builder| %>  
     <%= render 'question_fields', :f => builder %>    
  <% end %>  
  <p><%= link_to_add_fields "Ajouter une question", f, :questions %>  

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>
