<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2>Impossible de sauvegarder :</h2>

      <ul>
      <% @questionnaire.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <table>

  <tr class="field">
	<% if @category %>
    	     <td> Catégorie : </td> <td> <%= @category.name%> </td>
             <%= f.hidden_field(:category_id, :value => @category.id) %>
       <% else %>
            <td> <%= f.label :category_id, "Catégories :" %> </td>
            <td> <%= f.collection_select(:category_id, Category.all, :id, :name) %> </td>
      <% end %>
  </tr>

  <tr class="field">
    <td> <%= f.label :title, "Titre :" %> </td>
    <td> <%= f.text_field :title %> </td>
  </tr>

  <tr class="field">
    <td> <%= f.label :difficulty, "Difficulté :" %> </td>
    <td> <%= f.text_field :difficulty %> </td>
  </tr>

  <tr class="field">
    <td> <%= f.label :cost, "Coût :" %> </td>
    <td> <%= f.text_field :cost %> </td>
  </tr>

 </table>

 <div class="field">
   <%= f.fields_for :questions do |builder| %>  
      <%= render 'question_fields', :f => builder %>    
   <% end %>  
   <%= link_to_add_fields "Ajouter une question", f, :questions %>  
 </div>

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>
