<div class="fields">  
   <div class="titrequestion">
    <%= f.label :title, "Question", "class" => "marge" %>
    <%= f.label :points, "Nombre de points :" %>  <%= f.text_field :points, "size" => 4, "class" => "marge" %>
    <%= link_to_remove_fields "Supprimer", f%>
   </div>
    <%= f.text_area :title, :rows => 2, :cols => "80" %>   
 
 <div class="fields">
  <%= f.fields_for :reponses do |builder| %>  
     <%= render 'reponse_fields', :f => builder %>  
  <% end %>  
  <br/><%= link_to_add_fields "Ajouter une réponse", f, :reponses %> 
 </div>   
</div> 
