<p class="fields">
  <%= f.label :title, "Réponse" %>
  <%= f.text_field :title %>
  <%= f.label :correct, "Correcte ?" %>
  <%= f.check_box :correct %><br />
  <%= link_to_remove_fields "Supprimer", f %>
</p>
