<% if @nouveautes.count !=0 %>
<table>
  <tr>
    <th>Questionnaire</th>
    <th>Popularité</th>
    <th>Difficulté</th>
    <th>Coût</th>
    <th>Questions</th>
    <th>Points à gagner</th>
  </tr>

<% @nouveautes.each do |questionnaire| %>
  <tr>
    <td><%= link_to questionnaire.title, questionnaire %></td>
    <td><%= questionnaire.popularity %></td>
    <td><%= questionnaire.difficulty %></td>
    <td><%= questionnaire.cost %></td>
    <td><%= questionnaire.questions.count %></td>
    <td><%= 0 %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>
	Aucune nouveauté.
<% end %>
