<span class="marge"><b>Popularité :</b> <%= @questionnaire.popularity %> </span>
<span class="marge"><b>Difficulté :</b> <%= @questionnaire.difficulty %> </span>
<span class="marge"><b>Coût :</b> <%= @questionnaire.cost %> </span>
<span class="marge"><b>Questions :</b> <%= @questionnaire.questions.count %> </span>
<span class="marge"><b>Points à gagner :</b> <%= 0 %> </span>
<br/> <br/>

<% i = 0 %>

<% if @questionnaire.questions.count !=0 %>



<%= form_for :questionnaire, @questionnaire, :url=>{:action => "validate"} do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2>Impossible de sauvegarder :</h2>

      <ul>
      <% @questionnaire.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
<%= f.hidden_field(:questionaire_id, :value => @questionnaire.id) %>
<% for question in @questionnaire.questions do %>
    <% i = i + 1 %>
    <tr> 
    <th>Question n° <%= i %></th>
    </tr> 
    <tr>
      <td><%= question.title %></td>
      <td rowspan="2"><%= question.points %> pts</td>
    </tr>
    <tr>
      <td>

    <%= f.fields_for question, :index => question do |q| %>
    <% for reponse in question.reponses do %>
      <%= q.fields_for reponse, :index => reponse do |r| %>
	<div>
	  <%= r.check_box :rep %>
	  <%= reponse.title %>
	</div>  
      <% end %>
    <% end %>
  <% end %>
    </td>
  </tr>

<% end %>

</table>

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>

<br />


<% end %>


<% else %>
	Aucune question.
<% end %>

<br/> <br/>

<% if session_admin? %>
<%= link_to 'Editer', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Supprimer le questionnaire', @questionnaire, :confirm => 'Etes-vous sûr?', :method => :delete%>
<% end %>

