<span class="marge"><b>Popularité :</b> <%= @questionnaire.popularity %> </span>
<span class="marge"><b>Difficulté :</b> <%= @questionnaire.difficulty %> </span>
<span class="marge"><b>Coût :</b> <%= @questionnaire.cost %> </span>
<span class="marge"><b>Questions :</b> <%= @questionnaire.questions.count %> </span>
<span class="marge"><b>Points à gagner :</b> <%= 0 %> </span>

<br/> <br/>

<% if @questionnaire.questions.count !=0 %>
<% @questionnaire.questions.each do |question| %>
<table>
 
  <tr> 
    <th colspan="2">Question n° <%= question.id %> </th> 
  </tr>

  <tr>
    <td><%= question.title %></td>
    <td rowspan="2"><%= question.points %> pts</td>
  </tr>
  
   <tr>
     <td>
        <% question.reponses.each do |reponse| %>
          <% if reponse.correct %>
	      <div class="bonnerep"> <%= reponse.title %> </div>
          <% else %>
              <%= reponse.title %>
          <% end %>
        <% end %>
     </td>
  </tr>
<% end %>
</table>

<br />

<% else %>
	Aucune question.
<% end %>

<br/> <br/>

<% if session_admin? %>
<%= link_to 'Editer', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Supprimer le questionnaire', @questionnaire, :confirm => 'Etes-vous sûr?', :method => :delete%>
<% end %>

