<table>
  <tr>
    <th>Nom</th>
    <th>Popularité</th>
    <th>Questionnaires</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.popularity %></td>
    <td><%= category.nb_mcq %></td>
    <td><%= link_to 'Voir', category %></td>
    <td><%= link_to 'Editer', edit_category_path(category) %></td>
    <td><%= link_to 'Supprimer', category, :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle Categorie', new_category_path %>
