<% if @category.questionnaires.count !=0 %>
<table>
  <tr>
    <th>Questionnaire</th>
    <th>Popularité</th>
    <th>Difficulté</th>
    <th>Coût</th>
    <th>Questions</th>
    <th>Points à gagner</th>
  </tr>

<% @category.questionnaires.each do |questionnaire| %>
  <tr>
    <td><%= link_to_if(session[:user], questionnaire.title, questionnaire) do questionnaire.title end %></td>
    <td><%= questionnaire.popularity %></td>
    <td><%= questionnaire.difficulty %></td>
    <td><%= questionnaire.cost %></td>
    <td><%= questionnaire.questions.count %></td>
    <td><%= 0 %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>
	Aucun questionnaire.
<% end %>
