<% if @category.questionnaires.count !=0 %>
<table>
  <tr>
    <th>Questionnaire</th>
    <th>Popularité</th>
    <th>Difficulté</th>
    <th>Coût</th>
    <th>Questions</th>
    <th>Points à gagner</th>
    <% if session_admin? %><th></th><% end %>
  </tr>

<% @category.questionnaires.each do |questionnaire| %>
  <tr>
    <td><%= link_to_if(session[:user], questionnaire.title, play_questionnaire_path(questionnaire)) do questionnaire.title end %></td>
    <td><%= questionnaire.popularity %></td>
    <td><%= questionnaire.difficulty %></td>
    <td><%= questionnaire.cost %></td>
    <td><%= questionnaire.questions.count %></td>
    <td><%= questionnaire.questions.sum(:points) %></td>
    <% if session_admin? %> <td class="tdpetit"> <%= link_to "Voir", questionnaire %> </td> <% end %>
  </tr>
<% end %>
</table>

<br />

<% else %>
	Aucun questionnaire.
<% end %>

<br/> <br/>

<% if session_admin? %>
<%= link_to 'Ajouter un questionnaire', :controller => "questionnaires", :action => "new", :cat => @category %> |
<%= link_to 'Editer', edit_category_path(@category) %> ou
<%= link_to 'Supprimer la catégorie', @category, :confirm => 'Etes vous sur ?', :method => :delete %>
<% end %>
