<!DOCTYPE html>
<html>
<head>
  <title>ProjetRails</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
   <div id="principal">
   
		<div id="entete">
			<%= link_to image_tag('titre.png', :size => "763x69", :border => "0"), root_path, :id => "titre" %>
		</div>

		<div id="menu">
			<%= link_to "Nouveautés", nouveautes_path, :class => "lienmenu" %>
			<%= link_to "Catégories", categories_path, :class => "lienmenu" %>
			<%= link_to "Top 10", top10_path, :class => "lienmenu" %>
			<%= link_to_if(!session[:user], "S'inscrire", new_user_path, :class => "lienmenu") do link_to "Voir profil", user_path(session[:user]), :class => "lienmenu" end %>
			<%=signin_link%>		
		</div>

		<div id="contenu">
			<div id="haut">
				<br><%= global_title %>
			</div>
			<div id="milieu">
				<div id="trait"></div>
				<% flash.each do | key, value | %>
					<div id="<%= key %>"><%=value %></div>
				<% end %>
				
				<div id="texte"><%= yield %></div>
			</div>
			<div id="bas"></div>
		</div>

		<div id="pied">
		Réalisé par Julie Bocquelet, Loik Hameaux et David Sauvage
		</div>
   </div>
</body>
</html>



